* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #23252C;

  max-height: 100vh;

}

/* typography */

h1 {
  margin-bottom: 5px;
  font-size: 1.85rem;
}

h2 {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

p {
  font-size: 0.90rem;
  line-height: 1.5rem;
  margin-top: 0;
}

a {
  text-decoration: none;
}





/* layout */

.main-page {  
  max-width: 550px;
  margin: auto;
  padding: 1em 4em;
  color: white;
  
}

.container {
  background-color: #1A1B21;
}

.profile-text-container {
  padding: 0 2em;
  line-height: 1.5em;
  text-align: center;
 
 
}

.profile-job-title {
  margin: 0;
  font-size: .9rem;
  color: #F3BF99;
}


.main-text-container {
  padding: 0 2em;
}

.profile-website {
  margin: 5px;
}

.profile-links-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.footer {
  background-color: #161619;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-top: 1.75em;
  gap: 22px;
  border-radius: 0 0 10px 10px;
}
.container, .footer {
  border-radius: 0 0 10px 10px;
}

/* links */

.btn {
  width: 47%;
  background-color: white;
  color: #23252C;
  padding: 8px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;

}

.btn:focus, .btn:hover{
  filter: brightness(85%);
}

.btn-dark {
  background-color: #5093E2;
  color: white;
}



/* images */


.profile-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0.85em;
}


.icon {
  font-size: 30px;
  color: #918E9B;
}

.icon:focus, .icon:hover {
  transform: scale(1.1);
}